<section class="home">
  <create-gallery></create-gallery>

  <input ng-model="homeCtrl.gallerySearchTerm" type="text" placeholder="text">

  <ul>
    <gallery-item ng-repeat="item in homeCtrl.galleries | gallerySearch: homeCtrl.gallerySearchTerm"
                  gallery="item"
                  delete-done="homeCtrl.galleryDeleteDone(galleryData)"
                  ng-click="homeCtrl.currentGallery = item">
                  <!-- {{item?}} -->
    </gallery-item>
  </ul>

  <thumbnail-container ng-if="homeCtrl.currentGallery"
                       gallery="homeCtrl.currentGallery"></thumbnail-container>
</section>
