@import "lib/base/reset";
@import "lib/base/base";

@import "lib/layout/header";
@import "lib/layout/footer";
@import "lib/layout/content";

@import "lib/theme/vars";

@import "../component/login/login";
@import "../component/signup/signup";

$brand-primary: #444;
$brand-secondary: #888;
$black: #000;
$white: #fff;
$grey: #ccc;
$gutter: 30px;
