<section class="create-gallery">
  <form class="gallery-form"
        name="createGalleryForm"
        ng-submit="createGalleryCtrl.createGallery()">
    <h2>Create a new gallery</h2>
    <fieldset>
      <input class="input-std"
             name="name"
             type="text"
             value="name"
             placeholder="gallery name"
             ng-model="createGalleryCtrl.gallery.name" required>
    </fieldset>
    <fieldset>
      <input class="input-std"
             name="desc"
             type="text"
             placeholder="gallery description"
             ng-model="createGalleryCtrl.gallery.desc" required>
    </fieldset>
    <input class="btn-std evilbutton"
           type="submit"
           value="create gallery">
  </form>
</section>
