<!-- markup is for EACH gallery item -->
<li class="gallery-item">
  <div class="current-item"
       ng-if="!galleryItemCtrl.showEditGallery">
    <div>
      <span class="item-label">name:</span>
      <span>{{galleryItemCtrl.gallery.name}}</span>
    </div>
    <div>
      <span class="item-label">description:</span>
      <span>{{galleryItemCtrl.gallery.desc}}</span>
    </div>
  </div>

  <edit-gallery ng-if="galleryItemCtrl.showEditGallery"
                gallery="galleryItemCtrl.gallery">
  </edit-gallery>

  <span class="btn-std gallery-button"
        ng-click="galleryItemCtrl.showEditGallery = !galleryItemCtrl.showEditGallery"
        ng-hide="galleryItemCtrl.showEditGallery"
        ng-if="!galleryItemCtrl.hideEditButtons">
    edit
  </span>
  <span
   class="btn-std gallery-button"
   ng-click="galleryItemCtrl.deleteGallery()"
   ng-hide="galleryItemCtrl.showEditGallery"
   ng-if="!galleryItemCtrl.hideEditButtons">
   delete
   </span>
</li>
